/.vscode
/Agência2/.vscode
/Agenda2/.vscode
/Agenda3/.vscode
/ArraList/.vscode
/Contato/.vscode
/Lapiseiragrafites/.vscode
/MotocaInfantil/.vscode
/PulaPula/.vscode
/SalaDeCinema/.vscode
/Tamagochi/.vscode
/TopicDeLuxo/.vscode
/TrabalhoPOO/.vscode